<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<script src="js/myApp.js"></script>
		<script src="js/patientController.js"></script>
		<title> Doctor Portal's Home </title>
	</head>

	<body ng-app="myApp" ng-controller="patientController">

		<!--Remove code below after joining-->
		<button ng-show="!loggedIn" ng-click="loggedIn=true" class="btn">Log in</button>
		<!--Remove code above after joining-->

		<div ng-show="loggedIn">
			<!--Nav Information-->
			<nav ng-show="loggedIn" class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<span class="glyphicon glyphicon-th-large"></span> Report System
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a>Welcome Dr.{{doctorName}}</a></li>
							<li>
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group has-feedback">
										<input type="text" ng-model="searchVar" class="form-control" placeholder="Search Patient Name" />
										<i class="glyphicon glyphicon-search form-control-feedback"></i>
									</div>
									<!--<button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-default">Search <span class="glyphicon glyphicon-search"></span> </button>-->
								</form>
							</li>
							<li><a style="cursor: pointer;" ng-click="loggedIn=false">Log out</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

			<!--Start of container-->
			<div class="container">

				<!--Left Side of the Screen-->
				<div class="row">
					<div class="col-sm-5" ng-show="loggedIn">
						<h1>Waiting List</h1>

						<table class="table table-hover">
							<thead>
								<tr>
									<th>PatientID</th>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
								<tr style="cursor: pointer;" class="clickable-row" data-toggle="modal" ng-click="changePatient(p);" data-target="#myModal" ng-repeat="p in patients | filter:{name:searchVar}">
									<td>{{p.patID}}</td>
									<td><span class="glyphicon glyphicon-user"></span>  {{p.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!--Right Side of the Screen-->
					<div class="col-sm-7">
						<h1>Insurance Requests</h2>


						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											Pending
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<ul class="list-group" >
											<li ng-repeat="r in requests | filter:{status:'PENDING'}" class="list-group-item">ReqID: {{r.reqID}} RepID: {{r.repID}} Status: {{r.status}}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											Accepted
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="list-group" >
											<li ng-repeat="r in requests | filter:{status:'ACCEPTED'}" class="list-group-item">ReqID: {{r.reqID}} RepID: {{r.repID}} Status: {{r.status}}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											Rejected
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="list-group" >
											<li ng-repeat="r in requests | filter:{status:'REJECTED'}" class="list-group-item">ReqID: {{r.reqID}} RepID: {{r.repID}} Status: {{r.status}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>