<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script src="js/app.js"></script>
	<title> Doctor Portal's Home </title>
</head>

<body ng-app="app" ng-controller="patientController">
	<!--Start of Log In page-->
	<div ng-show="!loggedIn" class="container" align="center">
		<div class="text-center">
			<h1 style="color: grey;"><span class="glyphicon glyphicon-th-large"></span> Report System </h1>
			<h2 style="color: grey;">Doctor Portal Login</h2>
		</div>
		<!--<p>{{test}} + " " + {{users}}</p>-->
		<form ng-submit="login(username,password)" class="form-horizontal" name="logForm" role="form">
			<div class="form-group">
				<label class="control-label col-sm-4" for="username">Username:</label>
				<div class="col-sm-4">
					<input ng-model="currentUser" ng-click="loginError = false" type="text"	 class="form-control" id="username" placeholder="Enter username" required />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="pwd">Password:</label>
				<div class="col-sm-4">
					<input type="password" ng-click="loginError = false" ng-model="password" class="form-control" id="pwd" placeholder="Enter password" required/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<button ng-click="changeDoctor(); descriptiveRequests();"type="submit" class="btn btn-primary">Log in</button>
				</div>
			</div>
			<div ng-show="loginError" class="container" align="center">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-danger">
					<div class="panel-heading">Username or Password wrong!</div>
				</div>
			</div>
			</div>
		</form>
	</div>
	<!--End of Log In page-->

	<div ng-show="loggedIn">
		<!--Nav Information-->
		<nav ng-show="loggedIn" class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon-th-large"></span> Report System
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a>Welcome Dr. {{currentDoctor.name}}</a></li>
						<li>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group has-feedback">
									<input type="text" ng-model="searchVar" class="form-control" placeholder="Search Patient Name" />
									<i class="glyphicon glyphicon-search form-control-feedback"></i>
								</div>
								<!--<button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-default">Search <span class="glyphicon glyphicon-search"></span> </button>-->
							</form>
						</li>
						<li><a style="cursor: pointer;" ng-click="loggedIn=false; currentUser=''; password=''">Log out</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!--Start of container-->
		<div class="container">
			<!--Left Side of the Screen-->
			<div class="row">
				<div class="col-sm-3" ng-show="loggedIn">
					<h1>Waiting List</h1>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>PatientID</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr style="cursor: pointer;" class="clickable-row" data-toggle="modal" ng-click="changePatient(p);" data-target="#myModal" ng-repeat="p in patients | filter:{name:searchVar}">
								<td>{{p.patID}}</td>
								<td><span class="glyphicon glyphicon-user"></span>  {{p.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!--Right Side of the Screen-->
				<div class="col-sm-9">
					<h1>Insurance Requests <button class="btn" ng-click="descriptiveRequests()"><span class="glyphicon glyphicon-refresh"></i></span></button></h2>


						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									<h2 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											Pending  <span class="label label-warning">{{filterRequests('PENDING', currentDoctor.docID)}}</span>
										</a>

									</h2>
								</div>
								<div id="collapseOne" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<th>RequestID</th>
													<th>Act</th>
													<th>Date</th>
													<th>Patient Name</th>
												</tr>
											</thead>
											<tbody>
												<tr style="cursor: pointer;" ng-repeat="r in displayReports.slice().reverse() | filter:{status:'PENDING'} | filter:{docID:currentDoctor.docID} | orderBy:'r.reqID'">
													<td>{{r.reqID}}</td>
													<td>{{r.actName}}</td>
													<td>{{r.date}}</td>
													<td>{{r.patName}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
									<h2 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											Requested
										</a>
										<span class="label label-primary">{{filterRequests('REQUESTED', currentDoctor.docID)}}</span>
									</h2>
								</div>
								<div id="collapseFour" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<th>RequestID</th>
													<th>Act</th>
													<th>Date</th>
													<th>Patient Name</th>
												</tr>
											</thead>
											<tbody>
												<tr style="cursor: pointer;" ng-repeat="r in displayReports.slice().reverse() | filter:{status:'REQUESTED'} | filter:{docID:currentDoctor.docID} | orderBy:'r.reqID'">
													<td>{{r.reqID}}</td>
													<td>{{r.actName}}</td>
													<td>{{r.date}}</td>
													<td>{{r.patName}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									<h2 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											Accepted
										</a>
										<span class="label label-success">{{filterRequests('ACCEPTED', currentDoctor.docID)}}</span>
									</h2>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<th>RequestID</th>
													<th>Act</th>
													<th>Date</th>
													<th>Patient Name</th>
												</tr>
											</thead>
											<tbody>
												<tr style="cursor: pointer;" ng-repeat="r in displayReports.slice().reverse() | filter:{status:'ACCEPTED'} | filter:{docID:currentDoctor.docID} | orderBy:'r.reqID'">
													<td>{{r.reqID}}</td>
													<td>{{r.actName}}</td>
													<td>{{r.date}}</td>
													<td>{{r.patName}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-toggle" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									<h2 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											Rejected
										</a>
										<span class="label label-danger">{{filterRequests('REJECTED', currentDoctor.docID)}}</span>
									</h2>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<th>RequestID</th>
													<th>Act</th>
													<th>Date</th>
													<th>Patient Name</th>
												</tr>
											</thead>
											<tbody>
												<tr style="cursor: pointer;" ng-repeat="r in displayReports.slice().reverse() | filter:{status:'REJECTED'} | filter:{docID:currentDoctor.docID} | orderBy:'r.reqID'">
													<td>{{r.reqID}}</td>
													<td>{{r.actName}}</td>
													<td>{{r.date}}</td>
													<td>{{r.patName}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete {{currentPatient.name}}'s profile?</p>
              <p style="color: red;">This action is irreversible!</p>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="deletePatient()" class="btn btn-danger" data-dismiss="modal">Yes, I want to delete it</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog modal-lg">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title">Create Medical Act</h2>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-3">
									<h2>Patient Information</h2>
									<table class="table">
										<tr>
											<th>PatientID</th>
											<td>{{currentPatient.patID}}</td>
										</tr>
										<tr>
											<th>Name</th>
											<td>{{currentPatient.name}}</td>
										</tr>
										<tr>
											<th>Policy Number</th>
											<td>{{currentPatient.policy_number}}</td>
										</tr>
										<tr>
											<th>Policy Type</th>
											<td>{{currentPatient.policy_type}}</td>
										</tr>
									</table>
									<button type="button" class="btn btn-lg btn-block btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#confirmModal">Delete Patient</button>

								</div>
								<div class="col-sm-9">
									<h2>Prescribe New Medical Acts</h2>
									<table class="table">
										<thead>
											<tr>
												<th>ActID</th>
												<th>ActName</th>
												<th>Cost</th>
												<th>Estimated Reimbursement</th>
											</tr>
										</thead>
										<tbody>
											<tr style="cursor: pointer;" ng-repeat="act in currentPatient.acts track by $index">
												<td>{{act.actID}}</td>
												<td>{{act.name}}</td>
												<td>{{act.cost}}</td>
												<td>{{act.rmb*100}}%</td>
												<td><button class="btn btn-danger" ng-click="removeMedicalAct($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
											</tr>
										</tbody>
									</table>

									<div class="row">
										<div class="dropdown">

											<button class="btn btn-success dropdown-toggle" style="margin-left: 15px;" type="button" data-toggle="dropdown">Choose Act Type
												<span class="caret"></span>
											</button>
											<button type="button" style="margin-right: 15px;" class="btn btn-success pull-right" ng-click="submitReport(); currentPatient.acts=[]; descriptiveRequests()" data-dismiss="modal">Submit</button>

											<ul class="dropdown-menu">
												<li ng-click="addMedicalAct(act.name)" ng-repeat="act in acts | orderBy:cost"><a href="#">{{act.name}}</a></li>
											</ul>
										</div>
									</div>




									<h2>Past Medical Acts</h2>
									<table class="table">
										<thead>
											<tr>
												<th>ActID</th>
												<th>ActName</th>
												<th>Date</th>
												<th>Doctor Name</th>
												<th>Cost</th>
												<th>Reimbursement</th>
											</tr>
										</thead>
										<tbody>
											<tr style="cursor: pointer;" ng-repeat="act in patientActs">
												<td>{{act.actID}}</td>
												<td>{{act.actName}}</td>
												<td>{{act.date}}</td>
												<td>{{act.docName}}</td>
												<td>{{act.cost}}</td>
												<td>{{act.actual_reimb_perc*100}}%</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
	</html>
